h1 {
  margin: 1em auto 0em auto;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

nav {
  align-items: center; 
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 2em 0em;
  width: 100%;
}

.nav-buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  width: 20em;
}

input {
  border-radius: 10%;
  border-style: solid;
  height: 2em;
  width: 20em;
}

button {
  background-color: white;
  border: none;
  height: 2em;
}

.search-field {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  margin: 0em 2em 0em 0em;
  justify-content: flex-end;
  width: 20em;
}

.all-recipes-display,
.favorite-recipes {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-self: center;
  margin-top: 2em auto;
  overflow: scroll;
  max-width: 100%;
}

.favorite-alert {
  background: grey;
  z-index: 11;
  width: 80%;
  height: 300px;
}

.recipe-card {
  position: relative;
  background-size: cover;
  border-radius: 5%;
  height: 15em;
  width: 20em;
  margin: 2em;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.image-overlay {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.card-info {
  z-index: 20;
  position: absolute;
  top: 0;
  margin: auto;
}

.recipe-header {
  display: flex;
  flex-direction: column;
}

.recipe-card-nav {
  display:flex;
  justify-content: center;
  margin: .3em auto;
}

.body-blackout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000%;
  z-index: 9;
  background: black;
  opacity: .65;
}

.recipe-pop-up {
  background: #fff;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 80%;
  left: 27.5%;
  position: absolute;
  top: 8em;
  width: 45%;
  z-index: 10;
}

.recipe-img { 
  border-radius: 5% 5% 0% 0%;
  display: block;
  width: 100%;
}

.big-recipe-text {
  overflow: scroll;
}

.recipe-info {
  display: flex;
  flex-direction: row;
}

.ingredient-check,
.exit-button,
.cost-calculator {
  border: 1px solid;
  margin: .3em .5em;
  width: auto;
}

.cost {
  margin: 1em auto;
}

.instructions,
.ingredients {
  padding: 0em 1.5em
}

.instructions {
  width: 70%;
}

.ingredients {
  width: 30%;
}

.instructions {
  border-left: 1px solid;
}

.generated-message {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0em auto;
  width: 85%;
}

.card-info {
  display: flex; 
  color: #fff;
  font-size: 2em;
  justify-content: left;
  margin: .5em;
  width: 80%;
}

.star-icon {
  height: 1em;
  width: 1em;
}

.user-window {
  display: flex;
}

.users-pantry {
  height: 10em;
  font-size: 2em;
  padding: 1em 5em;
  
}

.supply-list {
  border: 1px solid;
  border-radius: 5%;
  height: 15em;
  font-size: 1em;
  margin-top: .5em;
  overflow: scroll;
  padding: 1em;
  width: 10em;
}

.users-recipes-display {
  width: 65%;
}

.hidden {
  display: none;
}



